<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Results</title>
    <!-- Importing Materialize CSS -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" rel="stylesheet">
    <style>
        .container {
            margin-top: 50px;
        }
        .table-container {
            overflow-x: auto;
        }
    </style>
</head>
<body>
    <div class="container">
        <h2>Books Stored in Books Table</h2>

        <div class="table-container">
            <table class="highlight striped">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Title</th>
                        <th>Description</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each results_form}}
                    <tr>
                        <td>{{id}}</td>
                        <td>{{title}}</td>
                        <td>{{description}}</td>
                        <td>
                            <a href="/edit/{{id}}" class="btn-small">Edit</a>
                            <a href="/delete/{{id}}" class="btn-small red">Delete</a>
                        </td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>
        <br>
        <a href="/" class="btn-small black right">add Books</a>
    </div>

    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</body>
</html>
